.contact-section {
  margin: 40px 0;
  .contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .contact-item {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: $text-color;
      text-decoration: none;
      width: 33.33%;
      margin-bottom: 40px;
      padding-bottom: 25px;

      @media (max-width: $breakpoint-s) {
        width: 50%;
      }

      .contact-item-name {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9em;
        transition: all 0.2s ease-in-out;
        @media (max-width: $breakpoint-m) {
          font-size: 0.82em;
        }
      }

      .contact-item-content {
        color: $text-color-light;
        transition: all 0.2s ease-in-out;
        font-size: 0.9em;
        @media (max-width: $breakpoint-m) {
          font-size: 0.8em;
        }

        span {
          transition: all .2s ease-in-out;
          position: absolute;
        }

        .default-content {
          transform: translateY(0px);
        }

        .hover-content {
          width: 100%;
          left: 0;
          opacity: 0;
          transform: translateY(20px);
        }
      }

      img {
        position: absolute;
        transition: all 0.2s ease-in-out;
        left: 0;
        top: 10px;
        width: 30px;
        transform: translate(10px, 10px);
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover:not(.hover-soft) {
        .contact-item-name {
          transform: translateX(50px);
        }

        .contact-item-content {
          transform: translateX(50px);
        }

        img {
          transform: translate(0, 0);
          opacity: 1;
        }
      }

      &.hover-soft:hover {
        .contact-item-content .default-content {
          opacity: 0;
          transform: translateY(-20px);
        }
        .contact-item-content .hover-content {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}
