.bg-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-wrapper-item {
  width: 100vw;
  height: 100vh;
  background: $default-bg-gradient;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  transition: background 0.5s ease-in-out;
}

.bg-wrapper-item-color {
  width: 100vw;
  height: 100vh;
  background: $default-bg-gradient;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation-name: FadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
