footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  height: auto;
  font-size: .8em;

  &:before {
    content: '';
    width: 100%;
    height: 105px;
    position: absolute;
    left: 0;
    backdrop-filter: blur(80px) saturate(120%);
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }

  a {
    color: $text-color-light;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 4px 0;

    &:hover {
      color: $text-color;
    }
  }
}
