header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.7px;
  position: fixed;
  padding: 40px 200px 40px 200px;
  top: 0;
  left: 0;
  right: 0;
  transition: backdrop-filter 0.2s ease-in-out, background 0.2s ease-in-out,
    height 0.2s ease-in-out;
  height: 55px;
  z-index: 10;

  @media (max-width: $breakpoint-s) {
    font-size: 20px;
  }

  &.scrolled {
    backdrop-filter: blur(80px) saturate(120%);
    background: rgba(45, 52, 59, .5);
    height: 0px;

    @supports (backdrop-filter: blur(80px) saturate(120%)) {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &.scrolled-anim-fix {
    backdrop-filter: blur(80px) saturate(120%) brightness(120%);
  }

  * {
    text-decoration: none;
    color: inherit;
  }

  nav {
    display: flex;
    justify-content: flex-end;

    * {
      margin-left: 30px;
    }
  }

  @media (max-width: $breakpoint-m) {
    padding: 40px 40px 40px 40px;
  }
  @media (max-width: $breakpoint-s) {
    padding: 40px 16px 40px 16px;
  }
}
