@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(-10deg);
    }
    10% {
      transform: rotate(12deg);
    }
    15% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(9deg);
    }
    25% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    transform: scale(.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes focus-in {
  from {
    filter: blur(15px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}
